@import "../../app.scss";
@import "../../variables.scss";

.submenu {
    max-width: 200px;

    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    a {
        text-decoration: none;
        color: black;
    }
}
