@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    transition: 0.3s ease-in-out;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    padding: {
        left: 10%;
        right: 10%;
    }
}

.container__left {
    margin-left: 10%;
}

.container__right {
    margin-right: 10%;
}

.section {
    padding: {
        top: 5rem;
        bottom: 5rem;
    }
}

.section__top {
    padding-top: 5rem;
}

.section__bottom {
    padding-bottom: 5rem;
}

.herogap {
    padding: {
        top: 7rem;
        bottom: 5rem;
    }
}

.btn {
    padding: 0.5rem 2rem;
    text-decoration: none;
    color: black;
    border: none;
    border-radius: 5px;
    outline: none;
    max-height: 40px;

    display: inline-flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;

    opacity: 0.7;

    &:hover,
    &:focus {
        outline: none;
        opacity: 1;
    }

    img {
        max-width: 15px;
    }
}

.btn_primary {
    @extend .btn;

    border: 1px solid #0843d0;
    background-color: #0843d0;
    color: white;
}

.btn_outline_white {
    @extend .btn;

    border: 1px solid white;
    background-color: #00000000;
    color: white;
}
